body, html{
width:80%;
margin:0 auto;
min-width:400px;
}
header{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#fefcea), color-stop(100%,#f1da36));
}
#logo{
    margin: 5px 0px 5px 20px;
    float: left;
    width: 78px;
    height: 80px;
    background-image: url("../images/logo.png");
}

   
    